// @forward is used to split our styles into separate files or modules and make them available for import in other Sass files.
@forward "./base/index";

// @use rule loads mixins, functions, and variables from other Sass stylesheets, and combines CSS from multiple stylesheets together.
@use "./util/index" as variable;

// @mixin is used to define reusable blocks of styles that can be included in other parts of our stylesheet using the @include directive.
@mixin para-style($size, $style) {
    font-size: $size;
    text-align: $style;
    margin: 0px 0 0 10px;
}

#about {
    background-color: variable.$about-bgcolor;
}

#about p {
    font-size: variable.$para-font;
    // @include in Sass is used to include the styles from a mixin into a selector or another mixin.
    @include para-style(18px, left);
}

#education {
    background-color: variable.$edu-bgcolor;
}

#education p {
    font-size: variable.$para-font;
    @include para-style(22px, justify);
}

#blog {
    background-color: variable.$blog-bgcolor;
}

@mixin font-style($value) {
    @if $value == small {
        font-size: 10px;
    }

    @else if $value == medium {
        font-size: 16px;
    }

    @else if $value == large {
        font-size: 22px;
    }
}

#blog p {
    font-size: variable.$para-font;
    @include para-style(22px, left);
    @include font-style(large);
}


header {
    background-color: variable.$header-bgcolor;
}

nav {
    margin-top: 5px;

    ul {
        list-style-type: none;

        li {
            display: inline-block;

            a {
                display: inline-block;
                text-decoration: none;
                color: aliceblue;
                transition: 0.7s;
                border-radius: 6px;
                padding: 10px;
            }

            a:hover {
                background-color: rgb(11, 11, 11);
            }
        }
    }
}

.btn {
    margin: 5px;
    padding: 5px;
    color: white;
    border-radius: 4px;
    border: 2px solid black;
    cursor: pointer;
}

@mixin btn-style($bg-color) {
    background-color: $bg-color;
}

.btn-download {
    // @extend directive in Sass is used to share a set of CSS properties from one selector to another.
    @extend .btn;
    @include btn-style(rgb(34, 126, 34))
}

.btn-learn {
    @extend .btn;
    @include btn-style(brown)
}

footer {
    background-color: variable.$footer-bgcolor;
}