// @forward is used to split our styles into separate files or modules and make them available for import in other Sass files.
@forward "./base/index";

// @use rule loads mixins, functions, and variables from other Sass stylesheets, and combines CSS from multiple stylesheets together.
@use "./util/index" as variable;

// color variable declaration

header {
    background-color: variable.$header-bgcolor;
}

nav {
    margin-top: 10px;

    ul {
        list-style-type: none;

        li {
            display: inline-block;

            a {
                display: inline-block;
                text-decoration: none;
                color: aliceblue;
                transition: 0.7s;
                border-radius: 6px;
                padding: 15px;
            }

            a:hover {
                background-color: rgb(11, 11, 11);
            }
        }
    }
}



main {
    background-color: variable.$main-bgcolor;
}

#about p {
    font-size: variable.$para-font;
}

footer {
    background-color: variable.$footer-bgcolor;
}