$header-bgcolor : rgba(0, 0, 0, 0.274);
$about-bgcolor: rgba(233, 72, 72, 0.406);
$blog-bgcolor: rgba(136, 72, 233, 0.406);
$footer-bgcolor: rgb(128, 215, 128);
$edu-bgcolor: rgb(221, 170, 74);
$para-font: 20px;